---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Launches">
    <h1 class="text-4xl font-bold">About Launches</h1>
    <p class="mt-8"> Is a simple web application that displays information about SpaceX rocket launches. It fetches data from the SpaceX public API to provide users with a list of past and upcoming launches.</p>
</Layout>